{% extends "::base.html.twig" %}

{% block body %}
    <h1>List</h1>

    <ul style="list-style: none">

        {% for advert in adverts %}
            <li>
                {{ advert.id }}
                <img src="{{ advert.url }}" alt="{{ advert.titre }}" width="100" style="margin-right: 10px">
                <h3>{{ advert.titre }}</h3>
            </li>
        {% endfor %}

    </ul>
{% endblock %}